@{
    ViewData["Title"] = "Home Page";
}
  <section id="hero" class="d-flex align-items-center">

<div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>E-kadri, boljša rešitev za vaše podjetje</h1>
          <h2>Omogočite vam in vašim zaposlenim odlično izkušnjo v podjetju</h2>
          <div class="d-lg-flex">
            <a href="https://localhost:5001/Identity/Account/Login" class="btn-get-started">Get Started</a>
            <a href="https://github.com/klemen-1337" class="venobox btn-watch-video"> Github Link <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="Images/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
</div>

  </section><!-- End Hero -->