@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

         <form enctype="multipart/form-data" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                <h4>Ustvari nov račun</h4>
                <hr />
                
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <h4>Podatki zaposlenega.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Input.Ime" class="control-label"></label>
                    <input asp-for="Input.Ime" class="form-control" />
                    <span asp-validation-for="Input.Ime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Priimek" class="control-label"></label>
                    <input asp-for="Input.Priimek" class="form-control" />
                    <span asp-validation-for="Input.Priimek" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Naslov" class="control-label"></label>
                    <input asp-for="Input.Naslov" class="form-control" />
                    <span asp-validation-for="Input.Naslov" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Telefon" class="control-label"></label>
                    <input asp-for="Input.Telefon" class="form-control" />
                    <span asp-validation-for="Input.Telefon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DatumRojstva" class="control-label"></label>
                    <input asp-for="Input.DatumRojstva" class="form-control" />
                    <span asp-validation-for="Input.DatumRojstva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Spol" class="control-label"></label>
                    <input asp-for="Input.Spol" class="form-control" />
                    <span asp-validation-for="Input.Spol" class="text-danger"></span>
                </div>
                <div class="form-group">  
                    <label asp-for="Input.Slika" class="control-label"></label>  
                        <div class="custom-file">  
                            <input asp-for="Input.Slika" class="custom-file-input" id="customFile">  
                            <label class="custom-file-label" for="customFile">Izberi sliko</label>  
                        </div>  
                    <span asp-validation-for="Input.Slika" class="text-danger"></span>  
                </div> 
                <div class="form-group">
                    <label asp-for="Input.Kadrovska" class="control-label"></label>
                    <input asp-for="Input.Kadrovska" class="form-control" />
                    <span asp-validation-for="Input.Kadrovska" class="text-danger"></span>
                </div> 
                <button type="submit" class="btn btn-primary">Registriraj uporabnika</button>
            </div>
            </div>
        </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">  
        // Ime datoteke ob izbiri. 
        $(".custom-file-input").on("change", function () {  
            var fileName = $(this).val().split("\\").pop();  
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);  
        });  
    </script>  
}
